@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans';
}

body {
    margin: 0;
    background-image: url("../img/bg_cadastro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;
}

html, body {
    height: 100%;
    width: 100%;
}

/*Começo da página*/
.header {
    display: flex;
    justify-content: space-between  ;
}

.header h1 {
    margin: 0;
    font-size: 60px;
}
/*Fim Começo Página*/

/*Formulário*/
.form {
    margin: 5% 5%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formContatoEmpresa {
    margin-left: -63%;
}

.formSetor {
    margin-left: -93%;
}

.margemCadastro{
    margin-left: 30px; 
    flex-direction: row;
    display: flex;
}

.linha{
    margin-left: 30px;
}

.linhaTerceira{
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}

.linhaTerceira .btn{
    margin-left: 20%;
}

.form .inputContainer {
    width: 50%;
    margin: 1% 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form h1 {
    margin: 0 5%;
}

.form .inputContainer label {
    margin: 0px 7px;
    font-size: 20px;
}

input, label {
    display: block;
}

.label{
    font-size: 15px;
    margin: 0;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 5px;
}
/*Fim formulário*/

/*Botão*/
.btn {
    margin-top: 10%;
    display: flex;
    margin-left: 5%;
}

.btn a {
    text-decoration: none;
    color: white;
}

.botaoCadastraLocal {
    margin-left: 3%;
}

.btnVoltar {
    margin-top: 10%;
    display: flex;
    margin-left: 75%;
}

.btnVoltar button a {
    text-decoration: none;
    color: white;
}

button {
    background-color:#E6005A;
    color: white;
    height: 40px;
    width: 130px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 2px 3px black;
}

/*Fim botão*/

/* Select  */

#select_modeloSensor {
    border-radius: 8%;
    margin-left: 4%;
    margin-top: 4%;
}

/* Fim Select */

.linha{
    display: flex;
    flex-direction: row;
}